<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{user}}</h5>
        <p class="card-text">{{title}}</p>
        <p class="card-text">{{date}}</p>
        <p class="card-text">{{content}}</p>
    </div>
</div>
<br>
<h2 class="text-center container col-4">Comments </h2>
<br>
<div>
  {{#each comment as |comment|}}
  <div class=" container col-8">
        <div class="sig">
        <p> User: {{comment.user.username}}</p>
        <p>Date: {{comment.date}}</p>
        <p>Comment: {{comment.content}}</p>
        </div>
  </div>
  {{/each}}

  {{#if loggedIn}}
    <h2>Add a comment</h2>
    <form>
        <div class ="form-group">
            <label for="title">Title</label>
            <textarea class="form-control" style="background-color:rgb(222, 229, 223) ;" id="titleContent" rows="8"></textarea>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" style="background-color:rgb(222, 229, 223) ;" id="contentContent" rows="8"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="newPost">Add</button>
    </form>
  {{/if}}

  <!--if user is logged in, add functionality for leaving a comment and editing his/her own comments-->
</div>

