<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{user}}</h5>
        <p class="card-text">{{title}}</p>
        <p class="card-text">{{date}}</p>
        <p class="card-text">{{content}}</p>
    </div>
</div>
<br>
<h2 class="text-center container col-4">Comments </h2>
<br>
<div>
  {{#each comment as |comment|}}
  <div class=" container col-8">
        <div class="sig">
        <p> User: {{comment.user.username}}</p>
        <p>Date: {{comment.date}}</p>
        <p>Comment: {{comment.content}}</p>
        </div>
  </div>
  {{/each}}
</div>

